node_modules
.turbo
.next
dist
.env
.env.local
*.db
*.db-journal
.DS_Store
apps/web/prisma/dev.db
apps/web/prisma/dev.db-journal
*.log
.vercel
coverage
dev-dist
.expo
apps/**/dev.db
apps/**/dev.db-journal
*.tsbuildinfo
